.nav {
    z-index: 2;
    background-color: #fff;
    color: rgb(0, 0, 0);
    display: block;
    position: fixed;
    font-family: 'Rubik', sans-serif;
    width: 500;
    font-size: 14px;
    padding: 0;
    text-transform: uppercase;
    height: 15vh;
    font-style: normal;
    font-weight: 600;
    width: 100%;

}

#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: background-color 0.2s ease;
}

.nav1 {
    z-index: 2;
    padding: 0;
    list-style: none;
    display: flex;
    position: center;
    font-weight: 600;

}

.select {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    padding: 0 15px;
    border-color: transparent;
    font-weight: 600;
    width: 160px;
}

.select1 {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    padding: 0 15px;
    border-color: transparent;
    font-weight: 600;
    width: 85px;
}

.nav ul {
    padding: 0;
    margin: 20px;
    list-style: none;
    display: flex;
    position: center;
    font-weight: 500;
    height: 10vh;
}

.nav a {
    color: #000;
    font-family: 'Barlow', sans-serif;
    padding: 0 15px;

}

.nav1 :hover {
    color: rgb(255, 0, 0);

}

.button-18 {
    align-items: center;
    background-color: #FDAE38;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;


}

.button-18:hover,
.button-18:focus {
    background-color: #FDAE38;
    color: #ffffff;
}

.button-18:active {
    background: #FDAE38;
    color: rgb(255, 255, 255, .7);
}