.footer-col b{
    color: #fff;
}
.footer-col li{
    list-style: none;
}
.footer-col li a{
    color:aliceblue;
   display: inline-block;

}

.containerF {
    background-color: rgb(0, 0, 0);
    color:#fff;

}

.row.py-5 {
    margin: 20px;
}

.apropos1 {
    color: #e9e6e6;
    text-align: right;
    padding-right: 50px;
}

.social-links a:hover {
    color: #FDAE38;
    background-color: #ffffff;
}

.col-md-3 a{
    color: #e9e6e6;
}

.containerF span {
    color: #ffb007;
}

span{
    color: #198754;
}